In [2]:
import sys
sys.path.append('/Users/Udit/Dev/fundas/fundas-api')
print(sys.path)
import report

from app.util.PathResolver import resolve_data
import pickle
import pandas as pd
from app.blueprints.api.models import CompanyInfo, LatestStandalone, LatestConsolidated, Technicals, \
    TechnicalsHistorical

from app.app import create_app
from app.extensions import db

app = create_app(conf_override={
    'SQLALCHEMY_DATABASE_URI':'postgresql://fundas:devpassword@localhost:5432/fundas'
})
db.app = app

['', '/Users/Udit/Dev/fundas/fundas-api/.venv/lib/python36.zip', '/Users/Udit/Dev/fundas/fundas-api/.venv/lib/python3.6', '/Users/Udit/Dev/fundas/fundas-api/.venv/lib/python3.6/lib-dynload', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6', '/Users/Udit/Dev/fundas/fundas-api/.venv/lib/python3.6/site-packages', '/Users/Udit/Dev/fundas/fundas-api/.venv/lib/python3.6/site-packages/IPython/extensions', '/Users/Udit/.ipython', '/Users/Udit/Dev/fundas/fundas-api', '/Users/Udit/Dev/fundas/fundas-api']
Overriding SQLALCHEMY_DATABASE_URI to postgresql://fundas:devpassword@localhost:5432/fundas

In [3]:
import app.util.DataAccess as DataAccess

company = 'CUPID'

df_std = DataAccess.get_company_dataframe(company)['annual_standalone']
df_con = DataAccess.get_company_dataframe(company)['annual_consolidated']

1516712084000
                        date       date_str    PE       PBV    MCAP
0 2018-01-23 23:54:44.167753  1516712084000  17.4  6.104095  376.08
1516712084000
1516712084000
                        date       date_str    PE       PBV    MCAP
0 2018-01-23 23:54:44.167753  1516712084000  17.4  6.104095  376.08
1516712084000

In [15]:
import time

def for_js(d):
    i = int(time.mktime(d.timetuple())) * 1000
    print(i)
    return i

def get_merged(company, df_std, df_con):
    df_std = df_std.reset_index()
    df_con = df_con.reset_index()
    app_list = []
    app_cols = []
    info, latest_std, latest_con = CompanyInfo.find_by_symbol(company)
    if latest_std:
        app_list.append(latest_std.created_on)
        app_list.append( for_js(latest_std.updated_on))
        app_cols.append('date')
        app_cols.append('date_str')
        if latest_std.price_to_earning:
            app_list.append(latest_std.price_to_earning)
            app_cols.append('PE')
        if latest_std.book_value:
            app_list.append(latest_std.book_value)
            app_cols.append('PBV')
        if latest_std.market_cap:
            app_list.append(latest_std.market_cap)
            app_cols.append('MCAP')
        to_append = pd.DataFrame([
            app_list
            ], 
            columns=app_cols)
        
        print(to_append)

        df_std = df_std.append(to_append)
        
    app_list = []
    app_cols = []
    
    if latest_con:
        app_list.append(latest_con.created_on)
        app_list.append( for_js(latest_con.updated_on))
        app_cols.append('date')
        app_cols.append('date_str')
        if latest_con.price_to_earning:
            app_list.append(latest_con.price_to_earning)
            app_cols.append('PE')
        if latest_con.book_value:
            app_list.append(latest_con.book_value)
            app_cols.append('PBV')
        if latest_con.market_cap:
            app_list.append(latest_con.market_cap)
            app_cols.append('MCAP')

        if app_cols:    
            to_append = pd.DataFrame([
                app_list
                ], 
                columns=app_cols)

            df_con = df_con.append(to_append)
    
    df_std = df_std.set_index('date')
    df_con = df_con.set_index('date')
    return df_std, df_con

In [16]:
df_std_new, df_con_new = get_merged(company, df_std, df_con)

Company doesnt exist in database. Getting details from Screener
1516660969000
                        date       date_str     PE    PBV    MCAP
0 2018-01-23 09:42:49.886547  1516660969000  18.91  55.43  408.64

AttributeError: 'NoneType' object has no attribute 'timetuple'

In [11]:
df_std_new[['PE','MCAP','PBV','date_str']]

                               PE      MCAP   PBV      date_str
date
2005-03-31 00:00:00.000000  11.79    566.02  1.37  1.112191e+12
2006-03-31 00:00:00.000000  13.73    864.04  1.90  1.143724e+12
2007-03-31 00:00:00.000000   3.90    756.37  1.27  1.175263e+12
2008-03-31 00:00:00.000000   5.85    781.26  1.12  1.206882e+12
2009-03-31 00:00:00.000000   1.94    374.69  0.37  1.238418e+12
2010-03-31 00:00:00.000000   6.49   1506.54  1.27  1.269954e+12
2011-03-31 00:00:00.000000  10.55   1817.97  1.30  1.301490e+12
2012-03-31 00:00:00.000000   6.81   1621.03  1.04  1.333112e+12
2013-03-31 00:00:00.000000   9.42   1536.05  0.93  1.364648e+12
2014-03-31 00:00:00.000000  10.33   1765.42  1.02  1.396184e+12
2015-03-31 00:00:00.000000  19.69   1618.10  0.92  1.427720e+12
2016-03-31 00:00:00.000000  17.11   1409.62  0.79  1.459343e+12
2017-03-31 00:00:00.000000  19.48   2187.31  1.18  1.490879e+12
2018-01-23 08:34:37.069869  76.66  15694.52   NaN           NaN
2018-01-23 08:34:37.069869  76.66  15694.52   NaN  1.516657e+12

In [10]:
df_con_new[['PE','MCAP','PBV','date_str']]

                                PE      MCAP   PBV      date_str
date
2005-03-31 00:00:00.000000    9.37    566.02  1.32  1.112191e+12
2006-03-31 00:00:00.000000   12.64    864.04  1.81  1.143724e+12
2007-03-31 00:00:00.000000    3.40    756.37  1.18  1.175263e+12
2008-03-31 00:00:00.000000    5.49    781.26  1.03  1.206882e+12
2009-03-31 00:00:00.000000    1.59    374.69  0.33  1.238418e+12
2010-03-31 00:00:00.000000    6.42   1506.54  1.17  1.269954e+12
2011-03-31 00:00:00.000000    9.61   1817.97  1.19  1.301490e+12
2012-03-31 00:00:00.000000    7.63   1621.03  0.98  1.333112e+12
2013-03-31 00:00:00.000000   11.43   1536.05  0.90  1.364648e+12
2014-03-31 00:00:00.000000   13.59   1765.42  1.00  1.396184e+12
2015-03-31 00:00:00.000000   28.10   1618.10  0.93  1.427720e+12
2016-03-31 00:00:00.000000   22.93   1409.62  0.80  1.459343e+12
2017-03-31 00:00:00.000000   31.04   2187.31  1.18  1.490879e+12
2018-01-23 08:34:37.069869  226.34  15694.52   NaN           NaN
2018-01-23 08:34:37.069869  226.34  15694.52   NaN  1.516657e+12