In [1]:
import sys
sys.path.append('/Users/Udit/Dev/fundas-app')
print(sys.path)
from Screener import Screener
import pandas as pd
from sqlalchemy import create_engine
import time
import DataImporter
from PathResolver import resolve_data
import datetime
import app.util.DataAccess
import concurrent.futures
import datetime
import click
from flask import jsonify
from app.app import create_app
from app.blueprints.api.models import CompanyInfo, LatestStandalone, LatestConsolidated, Technicals, TechnicalsHistorical
from app.extensions import db
from app.util import ScreenerUtil, DataImporter, DataAccess
from app.util.PathResolver import resolve_data
import app.util.DBUtil as DBUtil



app = create_app()
db.app = app

['', '/Users/Udit/Dev/fundas-app/.venv/lib/python36.zip', '/Users/Udit/Dev/fundas-app/.venv/lib/python3.6', '/Users/Udit/Dev/fundas-app/.venv/lib/python3.6/lib-dynload', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6', '/Users/Udit/Dev/fundas-app/.venv/lib/python3.6/site-packages', '/Users/Udit/Dev/fundas-app/.venv/lib/python3.6/site-packages/IPython/extensions', '/Users/Udit/.ipython', '/Users/Udit/Dev/fundas-app']

/Users/Udit/Dev/fundas-app/app/extensions.py:7: FlaskWTFDeprecationWarning: "flask_wtf.CsrfProtect" has been renamed to "CSRFProtect" and will be removed in 1.0.
  csrf = CsrfProtect()
/Users/Udit/Dev/fundas-app/app/app.py:25: ExtDeprecationWarning: Importing flask.ext.cache is deprecated, use flask_cache instead.
  from flask.ext.cache import Cache

In [ ]:
t = Technicals.query.get('AFEL')

In [ ]:

query = db.session.query(TechnicalsHistorical).join(Technicals).filter(Technicals.symbol=='AFEL')

pd.read_sql(query.statement,db.session.bind)

In [13]:
def get_technicals_as_df(symbol):
    tech = get_technicals(symbol)
    query = db.session.query(TechnicalsHistorical).join(Technicals).filter(Technicals.symbol==tech.symbol)
    return pd.read_sql(query.statement, db.session.bind)


def get_technicals(symbol):
    tech = Technicals.query.get(symbol)
    current_datetime = datetime.datetime.utcnow()
    if not tech:
        print(f"Technical data not available for {symbol}")
        tech = update_technicals(symbol)
    else:
        d1_ts = time.mktime(current_datetime.timetuple())
        d2_ts = time.mktime(tech.updated_on.timetuple())
        time_elapsed = (d1_ts - d2_ts)/60
        print(f"{symbol} was updated {time_elapsed} minutes ago.")
        if time_elapsed > 5 * 24 * 7:
            tech = update_technicals(symbol)
    return tech

def update_technicals(symbol):
    ret_dict = DataAccess.get_technicals(symbol)
    DBUtil.bulk_insert_technical_data([ret_dict])
    return Technicals.query.get(symbol)

In [17]:
get_technicals_as_df('PNB')

Technical data not available for PNB
Key is : NSE/PNB
Persisting $1 entries
Created 1 <class 'app.blueprints.api.models.Technicals'>
Created 260 <class 'app.blueprints.api.models.TechnicalsHistorical'>

,created_on,updated_on,id,symbol,date,open,high,low,close,volume,hhv52,hhv_all_time
0,2017-12-25 05:34:16,2017-12-25 05:34:16,3203,PNB,2013-01-06,892.90,910.75,891.60,908.10,689119.0,910.75,910.75
1,2017-12-25 05:34:16,2017-12-25 05:34:16,3204,PNB,2013-01-13,889.10,893.45,877.25,880.75,349290.0,910.75,910.75
2,2017-12-25 05:34:16,2017-12-25 05:34:16,3205,PNB,2013-01-20,891.20,905.00,889.05,894.30,440484.0,910.75,910.75
3,2017-12-25 05:34:16,2017-12-25 05:34:16,3206,PNB,2013-01-27,852.20,877.00,845.20,873.35,393727.0,910.75,910.75
4,2017-12-25 05:34:16,2017-12-25 05:34:16,3207,PNB,2013-02-03,912.00,916.00,893.35,899.85,2050627.0,916.00,916.00
5,2017-12-25 05:34:16,2017-12-25 05:34:16,3208,PNB,2013-02-10,880.00,881.85,858.90,862.55,590126.0,916.00,916.00
6,2017-12-25 05:34:16,2017-12-25 05:34:16,3209,PNB,2013-02-17,846.00,854.70,838.05,845.85,497445.0,916.00,916.00
7,2017-12-25 05:34:16,2017-12-25 05:34:16,3210,PNB,2013-02-24,838.20,856.90,834.20,853.05,396944.0,916.00,916.00
8,2017-12-25 05:34:16,2017-12-25 05:34:16,3211,PNB,2013-03-03,791.00,804.90,781.15,788.65,710245.0,916.00,916.00
9,2017-12-25 05:34:16,2017-12-25 05:34:16,3212,PNB,2013-03-10,813.10,818.30,805.30,814.65,502611.0,916.00,916.00
10,2017-12-25 05:34:16,2017-12-25 05:34:16,3213,PNB,2013-03-17,804.70,811.70,795.00,797.00,630667.0,916.00,916.00
11,2017-12-25 05:34:16,2017-12-25 05:34:16,3214,PNB,2013-03-24,719.10,739.60,716.20,727.25,556664.0,916.00,916.00
12,2017-12-25 05:34:16,2017-12-25 05:34:16,3215,PNB,2013-03-31,713.35,723.00,704.00,717.90,661956.0,916.00,916.00
13,2017-12-25 05:34:16,2017-12-25 05:34:16,3216,PNB,2013-04-07,715.00,729.00,710.50,719.75,528980.0,916.00,916.00
14,2017-12-25 05:34:16,2017-12-25 05:34:16,3217,PNB,2013-04-14,703.00,719.10,701.00,713.10,419695.0,916.00,916.00
15,2017-12-25 05:34:16,2017-12-25 05:34:16,3218,PNB,2013-04-21,748.10,771.00,742.85,766.50,723781.0,916.00,916.00
16,2017-12-25 05:34:16,2017-12-25 05:34:16,3219,PNB,2013-04-28,785.05,785.05,769.65,772.25,314626.0,916.00,916.00
17,2017-12-25 05:34:16,2017-12-25 05:34:16,3220,PNB,2013-05-05,762.10,766.90,741.00,743.90,963855.0,916.00,916.00
18,2017-12-25 05:34:16,2017-12-25 05:34:16,3221,PNB,2013-05-12,770.00,776.00,768.65,772.75,81620.0,916.00,916.00
19,2017-12-25 05:34:16,2017-12-25 05:34:16,3222,PNB,2013-05-19,819.00,839.85,810.00,834.25,1209956.0,916.00,916.00
20,2017-12-25 05:34:16,2017-12-25 05:34:16,3223,PNB,2013-05-26,782.00,792.00,768.30,787.55,667297.0,916.00,916.00
21,2017-12-25 05:34:16,2017-12-25 05:34:16,3224,PNB,2013-06-02,793.95,798.70,755.50,760.05,703714.0,916.00,916.00
22,2017-12-25 05:34:16,2017-12-25 05:34:16,3225,PNB,2013-06-09,771.00,783.65,760.25,762.95,544962.0,916.00,916.00
23,2017-12-25 05:34:16,2017-12-25 05:34:16,3226,PNB,2013-06-16,729.10,745.00,729.10,741.25,591689.0,916.00,916.00
24,2017-12-25 05:34:16,2017-12-25 05:34:16,3227,PNB,2013-06-23,688.25,694.60,659.60,667.00,890223.0,916.00,916.00
25,2017-12-25 05:34:16,2017-12-25 05:34:16,3228,PNB,2013-06-30,642.50,655.40,641.90,650.85,494333.0,916.00,916.00
26,2017-12-25 05:34:16,2017-12-25 05:34:16,3229,PNB,2013-07-07,630.05,633.80,618.10,625.20,761800.0,916.00,916.00
27,2017-12-25 05:34:16,2017-12-25 05:34:16,3230,PNB,2013-07-14,633.55,635.90,626.25,633.50,512719.0,916.00,916.00
28,2017-12-25 05:34:16,2017-12-25 05:34:16,3231,PNB,2013-07-21,637.05,643.40,622.10,631.00,677620.0,916.00,916.00
29,2017-12-25 05:34:16,2017-12-25 05:34:16,3232,PNB,2013-07-28,628.10,631.15,583.10,593.90,4696338.0,916.00,916.00
...,...,...,...,...,...,...,...,...,...,...,...,...
230,2017-12-25 05:34:16,2017-12-25 05:34:16,3433,PNB,2017-06-04,153.40,154.05,150.90,153.05,7997880.0,185.80,1129.00
231,2017-12-25 05:34:16,2017-12-25 05:34:16,3434,PNB,2017-06-11,151.00,152.75,149.65,152.15,4215439.0,185.80,1129.00
232,2017-12-25 05:34:16,2017-12-25 05:34:16,3435,PNB,2017-06-18,148.50,148.90,146.70,147.65,6445657.0,185.80,1129.00
233,2017-12-25 05:34:16,2017-12-25 05:34:16,3436,PNB,2017-06-25,145.75,146.55,142.10,143.90,6011716.0,185.80,1129.00
234,2017-12-25 05:34:16,2017-12-25 05:34:16,3437,PNB,2017-07-02,136.85,138.60,135.50,137.30,5476662.0,185.80,1129.00
235,2017-12-25 05:34:16,2017-12-25 05:34:16,3438,PNB,2017-07-09,143.60,144.80,142.45,144.20,6501418.0,185.80,1129.00
236,2017-12-25 05:34:16,2017-12-25 05:34:16,3439,PNB,2017-07-16,150.00,154.90,150.00,153.65,7808933.0,185.80,1129.00
237,2017-12-25 05:34:16,2017-12-25 05:34:16,3440,PNB,2017-07-23,158.00,159.70,155.95,158.25,6926819.0,185.80,1129.00
238,2017-12-25 05:34:16,2017-12-25 05:34:16,3441,PNB,2017-07-30,154.00,159.45,153.00,158.85,7759390.0,185.80,1129.00
239,2017-12-25 05:34:16,2017-12-25 05:34:16,3442,PNB,2017-08-06,149.05,152.35,147.90,151.05,12895805.0,185.80,1129.00
240,2017-12-25 05:34:16,2017-12-25 05:34:16,3443,PNB,2017-08-13,139.00,144.60,137.45,140.35,14050916.0,185.80,1129.00
241,2017-12-25 05:34:16,2017-12-25 05:34:16,3444,PNB,2017-08-20,144.00,144.50,140.70,142.15,9195713.0,185.80,1129.00
242,2017-12-25 05:34:16,2017-12-25 05:34:16,3445,PNB,2017-08-27,141.50,145.50,140.25,144.30,8742823.0,185.80,1129.00
243,2017-12-25 05:34:16,2017-12-25 05:34:16,3446,PNB,2017-09-03,144.10,145.80,143.90,144.45,5319966.0,185.80,1129.00
244,2017-12-25 05:34:16,2017-12-25 05:34:16,3447,PNB,2017-09-10,139.40,139.80,137.10,137.85,4807096.0,185.80,1129.00
245,2017-12-25 05:34:16,2017-12-25 05:34:16,3448,PNB,2017-09-17,144.20,146.40,143.60,144.65,5237646.0,185.80,1129.00
246,2017-12-25 05:34:16,2017-12-25 05:34:16,3449,PNB,2017-09-24,141.70,141.70,137.05,137.70,4339014.0,185.80,1129.00
247,2017-12-25 05:34:16,2017-12-25 05:34:16,3450,PNB,2017-10-01,131.90,132.75,128.40,129.05,5696269.0,185.80,1129.00
248,2017-12-25 05:34:16,2017-12-25 05:34:16,3451,PNB,2017-10-08,133.00,137.90,132.95,137.05,7521348.0,185.80,1129.00
249,2017-12-25 05:34:16,2017-12-25 05:34:16,3452,PNB,2017-10-15,133.80,136.75,132.40,135.00,5481433.0,185.80,1129.00
250,2017-12-25 05:34:16,2017-12-25 05:34:16,3453,PNB,2017-10-22,131.00,131.50,128.80,129.55,1148287.0,185.80,1129.00
251,2017-12-25 05:34:16,2017-12-25 05:34:16,3454,PNB,2017-10-29,214.00,214.00,195.25,196.65,39213574.0,214.00,1129.00
252,2017-12-25 05:34:16,2017-12-25 05:34:16,3455,PNB,2017-11-05,199.25,212.00,199.10,207.80,96398855.0,214.00,1129.00
253,2017-12-25 05:34:16,2017-12-25 05:34:16,3456,PNB,2017-11-12,190.00,196.00,187.00,190.10,26367774.0,214.00,1129.00
254,2017-12-25 05:34:16,2017-12-25 05:34:16,3457,PNB,2017-11-19,198.00,200.90,189.80,190.80,28196846.0,214.00,1129.00
255,2017-12-25 05:34:16,2017-12-25 05:34:16,3458,PNB,2017-11-26,187.00,189.20,185.05,186.10,11782239.0,214.00,1129.00
256,2017-12-25 05:34:16,2017-12-25 05:34:16,3459,PNB,2017-12-03,177.10,178.00,170.10,171.50,13167162.0,214.00,1129.00
257,2017-12-25 05:34:16,2017-12-25 05:34:16,3460,PNB,2017-12-10,174.35,175.30,172.00,172.70,8766071.0,214.00,1129.00
258,2017-12-25 05:34:16,2017-12-25 05:34:16,3461,PNB,2017-12-17,172.10,173.95,170.75,171.60,8768732.0,214.00,1129.00
259,2017-12-25 05:34:16,2017-12-25 05:34:16,3462,PNB,2017-12-24,173.90,177.15,172.15,175.95,22577624.0,214.00,1129.00

In [18]:
db.session.close()